:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
  --dark-bcg-text: #ffffff;
  --font-family-text: Roboto;
  --font-size-text: 14px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-italic.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-italic.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin-regular.woff") format("woff"), url("../fonts/raleway-v19-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-title-color);
  font-family: var(--font-family-text), sans-serif;
  font-size: var(--font-size-text);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link,
.logo-link,
.project__link {
  color: inherit;
  text-decoration: none;
  transition: color var(--animation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button, .main-button, .modal-form__button {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button {
  padding: 6px 24px;
  color: inherit;
  background: var(--secondary-bcg-color);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.button:hover, .button:focus {
  color: var(--dark-bcg-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button, .modal-form__button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--dark-bcg-text);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal-form__button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.logo-link {
  display: block;
}

.logo-web,
.logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

.footer__logo-studio {
  color: var(--dark-bcg-text);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link, .team-social__link, .footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--animation);
}

.social__link:focus, .team-social__link:focus, .footer-social__link:focus, .social__link:hover, .team-social__link:hover, .footer-social__link:hover {
  background-color: var(--accent-color);
}

.team-social__link {
  background-color: var(--primary-bcg-color);
}

.footer-social__link {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
}

.social__icon, .team-social__icon, .footer-social__icon {
  transition: fill var(--animation);
}

.social__link:focus .social__icon, .team-social__link:focus .social__icon, .footer-social__link:focus .social__icon, .social__link:focus .team-social__icon, .team-social__link:focus .team-social__icon, .footer-social__link:focus .team-social__icon, .social__link:focus .footer-social__icon, .team-social__link:focus .footer-social__icon, .footer-social__link:focus .footer-social__icon,
.social__link:hover .social__icon,
.team-social__link:hover .social__icon,
.footer-social__link:hover .social__icon,
.social__link:hover .team-social__icon,
.team-social__link:hover .team-social__icon,
.footer-social__link:hover .team-social__icon,
.social__link:hover .footer-social__icon,
.team-social__link:hover .footer-social__icon,
.footer-social__link:hover .footer-social__icon {
  fill: var(--primary-bcg-color);
}

.team-social__icon {
  fill: #afb1b8;
}

.footer-social__icon {
  fill: var(--dark-bcg-text);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__menu {
  display: flex;
  align-items: center;
}

.page-header__logo-link {
  margin-right: 93px;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.page-header__list {
  display: flex;
}

.page-header__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.page-header__address {
  color: var(--primary-text-color);
  margin-left: auto;
}

.page-header__address--item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.page-header__address--icon {
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}

.button__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.button__item:not(:last-child) {
  margin-right: 8px;
}

.project__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.project__link {
  display: block;
  transition: box-shadow var(--animation);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card {
  padding: 24px 20px;
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.overflow__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  display: flex;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--dark-bcg-text);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation);
}

.project__item:hover .overflow__text,
.project__item:focus .overflow__text {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bcg);
}

.footer__info {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 75px;
}

.footer__logo-link {
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}

.address__list {
  display: block;
}

.address__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__map,
.footer__contact {
  line-height: 1.71;
}

.footer__map {
  color: var(--dark-bcg-text);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  margin-right: 100px;
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-bcg-text);
}

.sign__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: var(--dark-bcg-text);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  transition: border-color var(--animation);
}

.sign__input:focus {
  border-color: var(--accent-color);
}

.sign__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign__input:-webkit-autofill, .sign__input:-webkit-autofill:hover, .sign__input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--dark-bcg-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--footer-bcg) inset;
  box-shadow: 0 0 0px 1000px var(--footer-bcg) inset;
}

.sign__button-text {
  position: relative;
}

.sign__button {
  text-align: start;
  width: 200px;
  height: 50px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.sign__icon {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
/*# sourceMappingURL=portfolio.css.map */