html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-title-color);

  font-family: var(--font-family-text), sans-serif;
  font-size: var(--font-size-text);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link,
.logo-link,
.project__link {
  color: inherit;
  text-decoration: none;

  transition: color var(--animation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
