.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bcg);
}

@media screen and (max-width: 1199.99px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts-social {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts-social {
    display: flex;
    align-items: baseline;
  }

  .footer__info {
    display: flex;
    align-items: baseline;
  }
}

.footer__contacts {
  @media screen and (max-width: 767.99px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo-link {
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}

.address__list {
  display: block;

  @media screen and (max-width: 1199.99px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer__map,
.footer__contact {
  line-height: 1.71;
}

.footer__map {
  color: var(--dark-bcg-text);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  @media screen and (max-width: 1199.99px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 100px;
  }
}

.footer__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--dark-bcg-text);
}
