.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__menu {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.page-header__logo-link {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  .page-header__logo-link {
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.page-header__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.page-header__link {
  padding: 40px 0;

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.page-header__address {
  display: none;
  color: var(--primary-text-color);
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-header__address--item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .page-header__address--item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__address--item:not(:last-child) {
    margin-right: 50px;
  }
}

.page-header__address--icon {
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}
