.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero/hero@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero/hero@1x.jpg);
  }

  @media screen and (min-width: 1600px) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/hero/hero@1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @media screen and (max-width: 767.99px) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/hero/hero@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero/hero@1x.jpg);
    }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/hero/hero@1x.jpg);
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}

.hero__title {
  margin-bottom: 40px;
  color: var(--dark-bcg-text);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1600px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
